<ion-content class="ion-padding">

  <ion-row>
    <ion-col class="text-center">
      <ion-img class="title-img" src="assets/capacitor.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text-center">
      <ion-text class="title">
        Facebook Login in Capacitor app
      </ion-text>
    </ion-col>
  </ion-row>


  <ion-button class="login-button" (click)="signIn()" expand="full" fill="solid" color="primary">
    Login with Facebook
  </ion-button>
  <ion-grid class="enappd-logo">
    <ion-row>
      <ion-col class="justify-align-center">
        <ion-text>By </ion-text>
        <ion-img src="assets/enappd.png" class="inline-b"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>